/*=================================================================
  Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
}

body {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'GothamRounded-Book', sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: normal;
  overflow-x: hidden;
  line-height: 20px;
}




@font-face{
  font-family: 'GothamRounded-Book';
  src: url('../../gotham-rounded/GothamRounded-Book.otf');
}

@font-face{
  font-family: 'GothamRounded-Medium';
  src: url('../../gotham-rounded/GothamRounded-Medium.otf');
}

@font-face{
  font-family: 'GothamRounded-Bold';
  src: url('../../gotham-rounded/GothamRounded-Bold.otf');
}



/*.f1{
  font-family: "Poppins-Regular";
}
.f2{
  font-family: "Sofia Pro Regular";
}
.f3{
  font-family: "sofiapro-light";
}
.f4{
  font-family: "Cera GR Thin";
}
.f5{
  font-family: "Cera GR Black";
}*/
 
 .l-h2{line-height: 27px}
.l-h{line-height: 45px;}
.l-h3{line-height: 60px;}
.l-h1{line-height: 30px;}


a,
a:active,
a:hover,
a:focus,
a:visited{
  text-decoration:none;
  /*background:transparent;*/
  outline:none;
  color:inherit;
}

/*a:hover{
  color: #663fb5 !important;
}*/

button:focus{
  outline:none;
}

li{
  /*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
  display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}





a:focus, a:hover {
      text-decoration:none !important;
  }


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
  background: #433e59;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}








.clearfix{
  clear: both;
}




.dis-f {display:flex !important;}
    
.diss-none {display:none !important;}
    


.bs{box-shadow: 0 4px 10px rgba(0,0,0,0.43);}

.bs3{box-shadow: 0px 0px 10px #663FB5;}







/*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
/*end*/




.bg-head{
  /*background: linear-gradient(100deg, rgba(215, 221, 232, 0.6) 50%, rgba(215, 221, 232, 0.6) 50%),url(../img/capture.png);*/
  /*background-attachment: fixed;*/
  /*background-image: url(../img/capture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*background-blend-mode: normal;*/
    /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
}
.bg-head4{
  background-image: url(../img/capture4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-head41{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/landingpage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
}

.bg-head1{
  background-color: #FCFCFC !important;
   clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);

}
.bg-headp{
  background-color: #F7F7F7 !important;
}
.bg-head2{
  background-color: #DDDDDD!important;
   clip-path: polygon(0 0, 1600px 20%, 1600px 100%, 0 100%);

}
  


::-webkit-scrollbar{
  height: 7px;
  width: 7px;
}
::-webkit-scrollbar-track{
  border-radius: 50px;
  /*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
  border-radius: 1px;
  background-color: #a7a7a7;
}













/*=================================================================
  Custom Css
==================================================================*/




.__foter{
  background-color: #060c17;
  /*border: solid 1px #060c17;*/
  padding: 39px 221px;
  /*margin-top: 3%;*/
  color: #ffffff;
}

.__fh{
    font-family: GothamRounded-Medium;
font-size: 18px;
  font-weight: 900;
  letter-spacing: 2.7px;
  color: #ffffff;
}

.__fotr{
  /*font-family: Raleway-Medium;*/
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1.1px;
  /*color: #777777 !important;*/
  transition: all 0.4s ease-in;
}

.__fotr:hover{
  color: #ea4c89 !important;
}

.__nesbtn{
      background-image: linear-gradient(90deg, #ea4c89, #359ad1);
    border: #ea4c89;
    /* background: #359ad1; */
    color: #ffffff;
    padding: 9px 12px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease-in;
}


.__schlogo{
      width: 90px;
    margin-top: -35px;
}

.__navtop{
      background: #192a67;
    margin-bottom: 0;
    border-radius: 0;
    color: #ffffff;
    font-size: 12px;
}
.__navdown{
  background: #ffffff;
  margin-bottom: 0;
  padding: 20px 0;
  border-radius: 0;
}

.__navfa{
    color: #3a81c9bd !important;
    border-radius: 4px;
    margin-top: 6px;
    font-weight:600;
    padding: 10px 16px !important;
    font-size: 12px;
}

.__navfa:hover{
  color: #3a81c9bd !important;
  border-radius: 4px;
}

.__navf{
  color: #12204e;
  font-size: 12px;
  padding: 10px !important;
  margin-top: 6px;
  font-weight:600;
  margin-left: 3px;
  border-radius: 4px;
}

.__navf:hover{
  color: #3a81c9bd !important;
  border-radius: 4px;
}

/*navbar dropdown*/

/*hover on dropdown and drop*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
/*hover on dropdown and drop end*/

.__dropdownlg{
  width: 500px;
}
.dropdown-large {
  /*position: static !important;*/
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/*navbar dropdown end*/

.__mvc{
  font-size:30px;
  font-weight:600;
  line-height: 1.0;
  font-family:GothamRounded-Bold;
}

.__mvc1{
  font-size:13px;
}


.pr-0{
  padding-right: 0px;
}

.pl-0{
  padding-left: 0px;
}


.__textside{
  background: #3a81c9;
    color: #fff;
    text-align: center;
    height: 75vh;
    padding: 0px 44px;
}

.__textside p:nth-child(1){
  font-size: 30px;
  font-family: GothamRounded-Bold;
  padding-top: 117px;
  line-height: 1.0;
}

.__textside p:nth-child(2){
  font-size: 15px;
  margin-top: 30px;
}

.__schbtn{
  margin-top: 30px;
}

.__junbtn{
      font-weight: 400;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #b0cce0; 
    border-radius: 0;
    padding: 10px;
    transition: all 0.4s ease-in;
}

.__junbtn:hover{
    background: #ffffff;
    color: #3a81c9;
}

.__senbtn{
      font-weight: 400;
    font-size: 20px;
    margin-left: -5px;
    border-width: 2px;
    border-style: solid;
    border-color: #b0cce0; 
    border-radius: 0;
    padding: 10px;
    transition: all 0.4s ease-in;
}

.__senbtn:hover{
    background: #8096e1;
    color: #ffffff;
}








.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.__imgdiv{
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 75vh;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

.__imgdivab {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

.carousel-inner {
  border-radius: 0;
}

/*.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}*/

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  /*text-align: right;*/
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

.mt-2p{
  margin-top: 2%;
}
.mt-3p{
  margin-top: 3%;
}


.mt-5p{
  margin-top: 5%;
}




.__welcome{
  font-size: 35px;
  /*font-family: GothamRounded-Bold;*/
  text-align: center;
  margin-top: 3%;
}

.__weldiv{
      background: #f6f6f6;
  box-shadow: 0 0px 9px 5px rgba(0, 0, 0, 0.03);
    padding: 10px;
    border-radius: 6px;
    transition: all 0.4s ease-in;
}

.__weldiv:hover{
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);

}

.__weldiv .__imgdiv1{
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.__weldiv p{
  /*text-align: center;*/
  font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.1;
    color:#142254;
}

.__weldiv p:hover{
  color:#337ab7;
}

.__weldiv1{
  background: #ffffff;
  box-shadow: 0 0px 9px 5px rgba(0, 0, 0, 0.03);
    padding: 10px;
    border-radius: 6px;
    transition: all 0.4s ease-in;
}

.__weldiv1:hover{
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
}

.__weldiv1 .__imgdiv1{
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.__weldiv1 p{
  /*text-align: center;*/
  font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.1;
    color:#142254;
}

.__weldiv1 p:hover{
  color:#337ab7;
}

.__downloadbg{
  background: rgb(246, 246, 246);
  padding: 30px;
  margin-top: 5%;
}

.__downsch{
  
    text-align: center;
    color: #2b628c;
    font-size: 30px;
    margin-top: 2%;
}

.__event-color{
  background: #dd823b;
      width: 14px;
    display: inline-block;
    height: 14px;
    margin-left: 5px;
    border-radius: 50%;
}

.__event{
  padding: 18px 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    transition: all .37s ease-in-out;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.016);
    color: #40d9f1;
    transition: color .3s ease;
}

.__event:hover{
  border-color: #40d9f1;
  background-color: #40d9f1;
  color: #fff !important;
}

.__event span{
  display: block;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;
    color: #2a2a2a;
}

.__event:hover span{
  color: #fff !important;
}

.__eventmid{
      color: #191919;
    margin-top: 20px;
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    text-transform: uppercase;
    transition: color .3s ease;
}

.__eventmid:hover{
    color: #40d9f1;
}

.__imgevent{
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*width: 100%;*/
    height: 72vh;
}

.__calendal{
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*width: 100%;*/
    height: 203vh;
}

.__eventexam{
  text-align: center;
  box-shadow: 0 6px 7px 0px rgba(0, 0, 0, 0.03);
  padding: 20px;
}

.__eventexam p:nth-child(1){
      font-size: 24px;
    line-height: 1.4;
    padding-top: 18px;
}

.__eventexam p:nth-child(2){
    letter-spacing: 2px;
    padding-top: 5px;
}

.__morebtn{
  text-align: center;
  margin-top: 60%;
}
.__more{
  transition: all .21s ease;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fff;
    color: #767676;
    border: 2px solid #e8e8e8;
    border-radius: 50px;
    padding: 10px 28px;
    transition: all 0.4s ease-in;
}

.__more:hover{
      background: #191919;
    color: #fff;
    border-color: #191919;
}

/*.__vissmiss{
  margin-top:92px;
}*/

.__schnam{
  font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5%;
}
.__schnam1{
  font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5%;
}



.table>thead>tr>th {
    border: 1px solid #ddd;
}

.table>tbody>tr>td {
    border: 1px solid #ddd;
}

.table {
    border: 1px solid #ddd;
}


.__aboubg{
  background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 62vh;
}

.__aboubg p{
  font-size:50px;
  color: #ffffff;
  text-align: center;
  font-weight:600;
  font-family:GothamRounded-Bold;
  padding: 13% 0;
}

.__aboutp{
  background: #ffffff;
    /*box-shadow: 0 0px 9px 5px rgba(0, 0, 0, 0.03);*/
    padding: 40px;
    border-radius: 6px;
    margin-top:5%;
    text-align:justify;
}

.__aboutp p{
  font-size:13px;
}

/*gallary begin*/
#ninja-slider {
    width:100%;
    background:#191919;
    padding: 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}


#ninja-slider .fs-icon {
    top:6px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.2);
    z-index:2;
    color:white;
    text-align:center;
    text-shadow:0 0 3px black;
    font:bold 18px/36px arial;
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
    opacity: 1;
}

#ninja-slider .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider.fullscreen .fs-icon::before {
    content:"+";
    display:block;
    font-weight:bold;
    font-size:3em;
    transform: rotate(-45deg);
}

#ninja-slider .slider-inner {
    /*max-width:700px;*/
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
    padding-bottom:100px!important;
}

#ninja-slider.fullscreen .slider-inner {
    width:98%; /* 100% will cause a big top gap issue in iPhone*/
    max-width:900px;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;

    overflow:visible!important; /*For showing captions outside the slider when transitionType is "fade". */
}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    /*overflow:hidden;*/ /*Comment it out to show the caption*/
    box-sizing:border-box;

    margin-bottom:100px!important;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    position:absolute;
    top:98%;
    padding:0 40px;
    margin:auto;
    width:100%;
    text-align:center;
    font-family:sans-serif;
    font-size:14px;
    color:#ccc;
    box-sizing:border-box;    
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}  

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 40%; /* not 50% as caption at bottom should be counted.*/
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.4s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: -42px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: -42px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    left:16px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    right:16px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev:hover, #ninja-slider-next:hover {width:80px;background-color:rgba(0,0,0,0.5);}
#ninja-slider-prev div {margin-right:8px;white-space:nowrap;opacity:0;float:right;}
#ninja-slider-next div {margin-left:8px;white-space:nowrap;opacity:0;float:left;}
#ninja-slider-prev:hover div, #ninja-slider-next:hover div {opacity:1;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager { display:none;}   

#ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.__gimg{
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(188, 188, 188, 0.5);
  cursor: pointer;
  transition: all 0.4s ease-in;
  height: 380px;
  margin-top: 20px;
}

.__gimg:hover{
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
}

.__gimg .__gimgdiv{
 background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 37vh;
}

.__gimg img{
  width: 360px;
  height: 230px;
}

.__gimg p:nth-child(2){
  font-size: 10px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 2.3px;
  /*color: #969696;*/
  padding: 9px 20px;
}
.__gimg p:nth-child(3){
  font-size: 13px;
  font-weight: 900;
  line-height: 1.39;
  letter-spacing: 1.8px;
  color: #404040;
  padding: 9px 20px;
}


/*Responsive settings*/

@media only screen and (max-width:1050px){
    
    #ninja-slider-prev {
        left:0;
    }

    #ninja-slider-next {
        right:0;
    }
}

@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }

    
    #ninja-slider li .cap1 {
        font-size:20px;
    }
}


/*gallary end*/



/*partner slider*/
.__address {
  text-align: center;
  padding: 12px;
  margin-top: 2%;
}
/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  margin-top: 5%;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*partner slider end*/



.__fosocai {
    text-align: center;
}

.__fotsohf {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsohf:hover {
    background-color: #3B5998;
    color: #ffffff;
    border-radius: 3px;
}

.__fotsohi {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsohi:hover {
    background-color: #0077B5;
    color: #ffffff;
    border-radius: 3px;
}
.__fotsohi {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsoht {
    font-size: 20px;
    padding: 10px 10px 6px;
    transition: all 0.4s ease-in;
}

.__fotsoht:hover {
    background-color: #55acee;
    color: #ffffff;
    border-radius: 3px;
}

.__footerbg{
  background: #3a81c9;
  margin-top: 5%;
  padding: 30px 0;
}

.__footerp{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff !important;
  transition: all 0.4s ease-in;
  margin-top:15%;
}
.__footera{
  margin-top: 10px;
  font-size: 13px;
  /*font-weight: 600;*/
  letter-spacing: 1px;
  color: #ffffff !important;
  transition: all 0.4s ease-in;
}

.__footera:hover{
  color: #40d9f1 !important;
}

.__footerdownbg{
  background: #3a3a3a;
  color: #ffffff;
  font-size: 14px;
  padding: 13px;
  text-align: center;
}




/*end








/*testing*/

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    /*margin-top: 20px;*/
    /*margin-right: -19px;*/
}
#quote-carousel .carousel-indicators li {
    width: 230px;
    height: 230px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /*border-radius: 50%;*/
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
    margin-top: -166px !important;
    margin:6px 6px 0 6px;
}
#quote-carousel .carousel-indicators .active {
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: all .2s;
    margin-top:10% !important;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.__right{right: -103px !important;}









